* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --color-primario:hsl(81, 90%, 71%);
    --color-secundario:hsl(262, 70%, 65%);

}
@font-face {
    font-family: 'NanumGothicCoding';
    src: url('./Fonts/NanumGothicCoding-Bold.ttf') format('truetype');
}
head {
    
    text-align: center;
    margin: 10px;
    padding: 25px;
}
a{
    text-decoration: none;
    color: black;
    
}
body {
    font-family: 'NanumGothicCoding';
    color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
}

header {
    text-align: left;
    text-align: center;
    background-color: var(--color-primario);
}

h1 {
    font-size: 50px;
    color: black;
}
h1,h2{
    font-family: "Unlock", serif;;
}
nav ul {
    list-style-type: none;
    padding: 15px;
    background-color: var(--color-primario);

}

nav ul li {
    display: inline;
    margin: 15px;
    padding: 4px;
    box-shadow: 1px 3px 1px var(--color-secundario);
    border-radius: 10px ;
}
main{
    height: 100%;
    width: 100%;
}
section {
    margin: 20px;
    border: solid black 2px;
    border-radius: 10px;
    padding: 12px;
    min-height: 20vh;
    box-shadow: 1px 3px 1px var(--color-primario);
    
}

section h2 {
    font-size: 25px;
    color: #000000;
    text-align: center;
}

section p {
    font-size: 18px;
    color: #d2d2d2;
    padding: 12px;
}

footer {
    background-color: var(--color-primario);
    text-align: center;
    min-height: 5vh;
    padding: 20px;
} 
